.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(1fr, 15vh) 1fr;
  grid-template-areas:
  "header"
  "main" ;
}

.header {
  grid-area: header;
}

.main {
  display: grid;
  grid-template-columns: 1fr;
  height: 100vh;
  grid-area: main;
}
