.canvas-tools {
  display: grid;
  grid-template-columns: 36px 36px auto;
  grid-template-rows: 36px;
  justify-items: center;
  align-items: center;
  border-radius: 3px;
}

.annotate-form-div {
  border-radius: 3px;
  align-self: flex-start;
  padding: 12px 16px;
}

.annotate-form-heading {
  font-size: 14px;
  font-weight: 400;
}

.annotate-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 150px 36px;
  gap: 12px;
}

.annotate-form label {
  font-size: 12px;
  position: relative;
  top: 8px;
}

.annotate-form-textarea {
  border-radius: 3px;
}

