.canvas-tools {
  padding: 2px;
  justify-self: flex-start;
  align-self: flex-start;
}

.active-brush {
  border-radius: 3px;
}

.colour-choices {
  display: flex;
  flex-direction: row;
  padding: 2px 0px;
}

.colour-choice {
  justify-self: center;
  padding: 2px;
}


