/* Colours */
.colours {
  color: hsl(0, 0%, 100%);
  color: hsl(215, 95%, 97%);
  color: hsl(215, 70%, 91%);
  color: hsl(215, 72%, 82%);
  color: hsl(215, 73%, 73%);
  color: hsl(215, 72%, 63%);
  color: hsl(215, 60%, 53%);
  color: hsl(215, 66%, 40%);
  color: hsl(215, 88%, 28%);
  color: hsl(359, 100%, 87%);
}
