body {
  color: hsl(215, 66%, 40%);
}

button {
  background-color: hsl(215, 72%, 82%);
  color: hsl(215, 66%, 40%);
}

/* ---------------------------------------------------------------------------------------------------- */
.App {
  background-color: hsl(0, 0%, 100%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Header */
/* ---------------------------------------------------------------------------------------------------- */
.navigation-link {
  background-color: hsl(215, 73%, 73%);
  color: hsl(0, 0%, 100%);
}

.navigation-link:hover{
  background-color: hsl(215, 66%, 40%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Homepage */
/* ---------------------------------------------------------------------------------------------------- */
.homepage-div {
  color: hsl(215, 100%, 38%);
}
/* ---------------------------------------------------------------------------------------------------- */
/* Images Page */
/* ---------------------------------------------------------------------------------------------------- */
.add-image-button {
  background-color: hsl(359, 100%, 80%);
  color: hsl(358, 100%, 99%);
}
/* ---------------------------------------------------------------------------------------------------- */
/* Add New Image Form */
/* ---------------------------------------------------------------------------------------------------- */
.add-image-form-heading {
  color: hsl(215, 66%, 40%);
}

.add-image-form {
  color: hsl(215, 60%, 53%);
}

::placeholder {
  color: hsl(215, 72%, 82%);
}

.add-image-form input {
  background-color: hsl(215, 95%, 97%);
}

.add-image-form button {
  background-color: hsl(215, 66%, 40%);
  color: hsl(0, 0%, 100%);
}

.new-image-modal {
  background-color: hsla(215, 88%, 28%, 0.3);
}

.new-image-modal-card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 0 15px 35px hsla(215, 88%, 18%, 0.3);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Image Page */
/* ---------------------------------------------------------------------------------------------------- */

/* ---------------------------------------------------------------------------------------------------- */
/* Display Image Details */
/* ---------------------------------------------------------------------------------------------------- */
.image-details {
  background-color: hsl(215, 70%, 91%);
}

.delete-image-button {
    background-color: hsl(0, 0%, 100%);
    border: 2px solid hsl(215, 70%, 91%);
    color: hsl(215, 73%, 73%);
}

.delete-image-button:hover {
    background-color: hsl(215, 70%, 91%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Display Annotations*/
/* ---------------------------------------------------------------------------------------------------- */
.written-annotation-div {
  background-color: hsl(215, 70%, 91%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* Annotate */
/* ---------------------------------------------------------------------------------------------------- */
.annotate-form-div {
  background-color: hsl(215, 70%, 91%);
}

.canvas-tools {
  background-color: hsl(215, 70%, 91%);
}

.annotate-form-textarea {
  border-color: hsl(215, 72%, 63%);
}

.canvas {
  border: 5px dotted hsl(215, 72%, 63%);
}

.active-brush {
  border: 2px solid hsl(215, 72%, 63%);
}

.set-visual-annotation-button {
  background-color: hsl(215, 72%, 82%);
  border: 2px solid hsl(215, 72%, 82%);
}

.annotate-form button {
  background-color: hsl(215, 72%, 82%);
}

/* ---------------------------------------------------------------------------------------------------- */
/* State Setters */
/* ---------------------------------------------------------------------------------------------------- */

.state-setters{
  color: hsl(215, 100%, 38%);
}

.state-setters li:hover {
  cursor: pointer;
  background-color: hsl(215, 70%, 91%);
}

/* ---------------------------------------------------------------------------------------------------- */
footer {
  color: hsl(215, 73%, 73%);
}

