/* Reset */
body,
h1,
h2,
h3,
ul,
li,
a,
p,
canvas {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
  display: block;
}

button {
    background-color: hsl(0, 0%, 80%);
    color: hsl(218, 23%, 23%);
    border: none;
    padding: 8px;
    cursor: pointer;
}

button, input{
  border-radius: 3px;
}
/*  Typography */
body {
  font-family: "Varela Round", sans-serif;
  line-height: 1.5;
  color: hsl(218, 23%, 23%);
}

.set-visual-annotation-button, .annotate-form button, .add-image-form button, ::placeholder {
  font-family: "Varela Round", sans-serif;
}

.image {
  max-height: 80vh;

  /* change this for mobile screens */
  max-width: 50vw;
}

button {
  background-color: hsl(211, 25%, 84%);
  font-size: 12px;
}

p {
  max-width: 35em;
}