.canvas-tools {
  display: grid;
  grid-template-columns: 36px;
  grid-template-rows: 36px 36px;
  justify-items: center;
  align-items: center;
}

.annotate-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 150px 36px;
  gap: 12px;
}

.annotate-form label {
  font-size: 12px;
}

.close-annotate {
  cursor: pointer;
}