.canvas-tools {
  display: grid;
  grid-template-columns: 36px;
  grid-template-rows: 36px 36px;
  justify-items: center;
  align-items: center;
}

.annotation-form-heading {
  font-size: 14px;
  font-weight: 400;
}

.annotate-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 150px 36px;
  gap: 12px;
}

.annotate-form label {
  font-size: 12px;
  position: relative;
  top: 8px;
}

.close-annotate {
  cursor: pointer;
} 