.canvas-tools {
  display: grid;
  grid-template-columns: 36px 36px auto;
  grid-template-rows: 36px;
  justify-items: center;
  align-items: center;
  border-radius: 3px;
}

.annotation-form-div {
  border-radius: 3px;
}
.annotation-form-heading {
  font-size: 14px;
  font-weight: 400;
}

.annotate-form {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 16px 150px 36px;
  gap: 12px;
}

.annotate-form label {
  font-size: 12px;
  position: relative;
  top: 8px;
}

.annotate-form-textarea {
  border-radius: 3px;
}

.close-annotate {
  cursor: pointer;
}

@media (min-width: 900px) {
  .canvas-tools {
    grid-template-columns: 36px;
    grid-template-rows: 36px 36px auto;
  }
}
