.canvas {
  position: relative;
  top: -5px;
}

.canvas-tools {
  padding: 2px;
}

.active-brush {
  border-radius: 3px;
}

.colour-choices {
  display: flex;
  flex-direction: row;
  padding: 2px 0px;
}

.colour-choice {
  justify-self: center;
  padding: 2px;
}

@media (min-width: 900px) {
  .canvas {
    position: relative;
    top: 0;
  }
  .colour-choices {
    flex-direction: column;
  }
}
