.header {
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "content";
  background-color: hsl(211, 25%, 84%);
}

.navigation {
  grid-area: content;
  justify-self: flex-start;
  align-self: stretch;
  display: grid;
}

.navigation-links {
  display: grid;
  grid-template-columns: auto auto;
}

.navigation-links li {
  padding: 8px;
}

.navigation-links li:hover {
  background-color: hsl(214, 20%, 69%);
}

.navigation-link {
  font-size: 12px;
  color: hsl(218, 23%, 23%);
}

.add-image-div {
  grid-area: content;
  justify-self: flex-end;
  align-self: stretch;
  font-size: 12px;
  cursor: pointer;
  padding: 8px;
  display: grid;
}

.add-image-div:hover {
  background-color: hsl(214, 20%, 69%);
}

.add-image-button {
  align-self: center;
}

@media (min-width: 640px) {
  .header {
    grid-template-columns: 1fr 500px 1fr;
    grid-template-areas: "left content right";
  }
}

@media (min-width: 900px) {
  .header {
    grid-template-columns: 1fr 800px 1fr;
  }
}
 