.homepage-div {
  height: 100vh;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 55vh 1fr;
  grid-template-areas:
    "left heading right"
    "left getStarted right";
}

.homepage-heading {
  grid-area: heading;
  justify-self: center;
  align-self: flex-end;
  font-size: 50px;
}

.homepage-get-started {
  grid-area: getStarted;
  justify-self: center;
  align-self: flex-start;
}

.homepage-get-started:hover {
  font-size: 17px;
}

@media (min-width: 400px) {
  .homepage-heading {
    font-size: 70px;
  }
}

@media (min-width: 640px) {
  .homepage-div {
    grid-template-columns: 1fr 500px 1fr;
  }

  .homepage-heading {
    font-size: 100px;
  }
}