.homepage-heading {
    justify-self: center;
    position: relative;
    top: 28vh;
    font-size: 100px;
}

.homepage-get-started {
    justify-self: center;
    position: relative;
    top: 28vh;
}