.image-name {
  text-transform: capitalize;
}

.image-page {
  display: grid;
  grid-template-columns: 100px 800px 100px;
  grid-template-rows: 50px 150px 1fr;
}

.a {
  grid-template-areas:
    "leftA heading rightA"
    "leftB image rightB"
    "leftC image rightC";
}

.view-annotations-button {
  grid-area: leftB;
  align-self: flex-start;
}
.annotate-button {
  grid-area: leftB;
  align-self: flex-start;
  position: relative;
  top: 50px;
}

.delete-image-button {
  grid-area: leftB;
  align-self: flex-start;
  position: relative;
  top: 100px; 
}
.image-page h1 {
  grid-area: heading;
  font-size: 12px;
  align-self: flex-end;
  padding-bottom: 12px;
}

.image {
  grid-area: image;
}

.image, .visual-annotation, .canvas {
  justify-self: center;
  align-self: center;
}

