.image-name {
  text-transform: capitalize;
}

.image-page {
  display: grid;
  grid-template-columns: 200px 800px 200px;
  grid-template-rows: 50px 150px 1fr;
}

.a {
  grid-template-areas:
    "leftA heading rightA"
    "leftB image rightB"
    "leftC image rightC";
}

.view-annotations-button {
  grid-area: leftB;
  align-self: flex-start;
}
.annotate-button {
  grid-area: leftB;
  align-self: flex-start;
  position: relative;
  top: 50px;
}

.delete-image-button {
  grid-area: leftB;
  align-self: flex-start;
  position: relative;
  top: 100px; 
}
.image-page h1 {
  grid-area: heading;
  font-size: 12px;
  align-self: flex-end;
  padding-bottom: 12px;
}

.image {
  grid-area: image;
}

.image, .visual-annotation, .canvas {
  justify-self: center;
  align-self: center;
}

.b {
  grid-template-areas:
  "leftA heading rightA"
  "leftB image rightB"
  "leftC image rightC"
  "leftD bottom rightD";
}

.visual-annotation {
  grid-area: image;
}

.close-view-annotations {
  grid-area: leftB;
  align-self: flex-start;
}

.annotations-list {
  grid-area: rightB;
}

.written-annotation {
  grid-area: bottom;
}

.c {
  grid-template-areas:
  "leftA heading rightA"
  "leftB image rightB"
  "leftC image rightC"
  "leftD bottom rightD";
}

.canvas {
  grid-area: image;
}

.close-annotate {
  grid-area: leftB;
  align-self: flex-start;
}

.set-visual-annotation {
  grid-area: rightB;
  justify-self: flex-start;
  align-self: flex-start;
  position: relative;
  top: 48px;
}

.canvas-icons {
  grid-area: rightB;
  justify-self: flex-start;
  display: grid;
  grid-template-columns: 36px 36px;
  grid-template-rows: 36px;
  justify-items: center;
  align-items: center;
}

.form {
  grid-area: rightC;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 36px 150px 36px;
}

.form label {
  font-size: 15px;
}

.resized-image {
  max-width: 500px;
  max-height: 500px;
}

