.image-page {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 34px auto;
  grid-template-areas:
    "top"
    "content";
}

.image-page-content {
  grid-area: content;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "left content right"
    "bottom bottom right";
  gap: 24px;
  background-color: hsl(218, 17%, 35%);
  padding: 24px 36px;
}

.image {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Display annotations */
.annotations-list-div {
  grid-area: left;
  justify-self: flex-end;
  align-self: flex-start;
}

.visual-annotation {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

.written-annotation-div {
  grid-area: right;
  justify-self: flex-start;
  align-self: flex-start;
}

.close-view-annotations {
  grid-area: right;
  justify-self: flex-end;
  align-self: flex-start;
  position: relative;
  top: -24px;
  left: 36px;
  cursor: pointer;
}
/* ---------------------------------------------------------------------------------------------------- */
/* Annotate */
.canvas {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

.canvas-tools {
  grid-area: left;
  justify-self: flex-end;
  align-self: flex-start;
}

.annotation-form-div {
  grid-area: right;
  justify-self: flex-start;
  align-self: flex-start;
  display: grid;
  gap: 8px;
  background-color: hsl(214, 20%, 69%);
  padding: 12px 16px;
}

.close-annotate {
  grid-area: right;
  justify-self: flex-end;
  align-self: flex-start;
  position: relative;
  top: -24px;
  left: 36px;
  cursor: pointer;
}

/* ---------------------------------------------------------------------------------------------------- */
.image-page-state-setters-div {
  grid-area: top;
  background-color: hsl(210, 38%, 95%);
  justify-self: stretch;
  align-self: flex-start;
  display: grid;
  grid-template-columns: 1fr 800px 1fr;
  grid-template-areas: 
  "left content right";
}

.image-page-state-setters {
  grid-area: content;
  justify-self: left;
  display: grid;
  grid-template-columns: repeat(3, auto);
}

.view-image-button,
.view-annotations-button,
.annotate-button {
  font-size: 12px;
  cursor: pointer;
  color: hsl(218, 23%, 23%);
  padding: 8px;
}

.view-image-button:hover,
.view-annotations-button:hover,
.annotate-button:hover {
  background-color: hsl(214, 20%, 69%);
}

.current-state {
  background-color: hsl(214, 20%, 69%);
}

