.image-page {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: 15vh auto 1fr;
  grid-template-areas:
    "top top top"
    "left content right"
    "bottom bottom right";
  gap: 24px;
}

.image {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Display annotations */
.annotations-list-div {
  grid-area: left;
  justify-self: flex-end;
  align-self: flex-start;
}

.close-view-annotations {
  grid-area: top;
  justify-self: flex-end;
  align-self: flex-start;
  cursor: pointer;
}

.visual-annotation {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

.written-annotation-div {
  grid-area: right;
  justify-self: flex-start;
  align-self: flex-start;
}

.image-page-heading {
  grid-area: top;
  justify-self: center;
  align-self: center;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Annotate */
.canvas {
  grid-area: content;
  justify-self: center;
  align-self: center;
}

.canvas-tools {
  grid-area: left;
  justify-self: flex-end;
  align-self: flex-start;
}

.annotation-form-div {
  grid-area: right;
  justify-self: flex-start;
  align-self: flex-start;
  display: grid;
  gap: 8px;
  background-color: hsl(214, 20%, 69%);
  padding: 12px 16px;
}

.close-annotate {
  grid-area: top;
  justify-self: flex-end;
  align-self: flex-start;
}

/* ---------------------------------------------------------------------------------------------------- */
.image-page-state-setters-div {
  grid-area: left;
  background-color: hsl(214, 20%, 69%);
  justify-self: flex-start;
  align-self: flex-start;
}

.view-image-button,
.view-annotations-button,
.annotate-button {
  font-size: 12px;
  cursor: pointer;
}

.view-image-button:hover,
.view-annotations-button:hover,
.annotate-button:hover {
  font-size: 14px;
}
