.images-page {
    display: grid;
    background-color: hsl(210, 38%, 95%);
}

.image-thumbnails {
    display: grid;
    grid-template-columns: repeat(5, 100px);
    gap: 16px;
    justify-self: center;
    align-self: center;
    padding: 24px 36px;
}

.image-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
