.add-image-form-div {
    display: grid;
    grid-template: 1fr;
    padding: 24px 36px;
}

.close-form-button {
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-start;
}

/* .add-image-form-heading, .add-image-form {
    padding: 0px 36px;
} */

.add-image-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.add-image-form label {
    align-self: flex-end;
}

.add-image-form input {
    border: none;
    background-color: hsl(0, 0%, 95%);
    padding: 4px 8px;
}

.add-image-form button {
    justify-self: flex-end;
    border-radius: 3px;
    padding: 8px;
    margin-top: 16px;
}

