.add-image-form-div {
    display: grid;
    grid-template: 1fr;
    padding: 24px 36px;
}

.close-form-button {
    cursor: pointer;
    justify-self: flex-end;
    align-self: flex-start;
}

.add-image-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.add-image-form label {
    align-self: flex-end;
    position: relative;
    top: -8px;
    font-size: 14px;
}

::placeholder {
    font-size: 12px;
}

.add-image-form input {
    border: none;
    background-color: hsl(0, 0%, 95%);
    padding: 4px 8px;
}

.add-image-form button {
    justify-self: flex-end;
    border-radius: 3px;
    padding: 8px;
    margin-top: 16px;
} 
